qfs/node_modules/
qfs/.pnp/
qfs/.pnp.js
qfs/coverage/
qfs/build/
qfs/.DS_Store
qfs/.env.local
qfs/.env.development.local
qfs/.env.test.local
qfs/.env.production.local

qfs/npm-debug.log*
qfs/yarn-debug.log*
qfs/yarn-error.log*

spring-boot-starter/target/
!.mvn/wrapper/maven-wrapper.jar
!spring-boot-starter/**/src/main/**/target/
!spring-boot-starter/**/src/test/**/target/

spring-boot-starter/.apt_generated
spring-boot-starter/.classpath
spring-boot-starter/.factorypath
spring-boot-starter/.project
spring-boot-starter/.settings
spring-boot-starter/.springBeans
spring-boot-starter/.sts4-cache

spring-boot-starter/.idea/
spring-boot-starter/*.iws
spring-boot-starter/*.iml
spring-boot-starter/*.ipr

spring-boot-starter/nbproject/private/
spring-boot-starter/nbbuild/
spring-boot-starter/dist/
spring-boot-starter/nbdist/
spring-boot-starter/.nb-gradle/
spring-boot-starter/build/
!spring-boot-starter/**/src/main/**/build/
!spring-boot-starter/**/src/test/**/build/

spring-boot-starter/.vscode/
.idea/